* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/id/1218355494/vector/poker-table-background-in-green-color.jpg?s=170667a&w=0&k=20&c=kPTTaQdI5VQT-uXn4bWD7yIcCuotlYZK60uWh0EF1Dg=);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}


header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background: green; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: large;
    padding: 30px;
}

#scoreboard {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#scores {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

#scores h3 {
    border-bottom: 1px solid black;
    padding: 5px;
}

/* .middle-section {
    display: flex;
} */

#deck-cards{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7%;
}

#deck-cards img{
    width: 100px;
    height: 130px;
}

#result-message {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}


.cards-section {
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 60px;
}

.cards-section img {
    height: 150px;
}

.cards-section h3 {
    font-size: 15px;
    margin-right: 20px;
    width: 15%;
}

.computer-cards {
    display: flex;
}

.player-cards {
    display: flex;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5px;
}

.btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#playagain-btn {
    color: black;
}

.btn:hover {
    opacity: 0.5;
}

#hit-btn {
    background: rgb(120, 236, 120);
}

#bet-btn {
    background: green;
}

#stand-btn {
    background: rgb(207, 105, 105);
}

#bet-btn-div {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.display-none {
    display: none;
}

#hide-card {
    display: hidden;
}

.win {
    color: green;
}

